/*CSS for the toolbar Section*/

#container-toolbar {
    width: 190px;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #6b6b6b;
    text-align: center;
    vertical-align: middle;
}

#container-toolbar .tool {
    width: 70px;
    height: 70px;
    display: block;
    margin: 20px auto;
}

#container-toolbar .tool:hover {
    background-color: #9ed6ff;
    border-radius: 10%;
}

#container-toolbar .resource {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    border-radius: 10%;
}
