/*CSS for general*/

@font-face {
    font-family: 'minecrafter_altregular';
    src: url('../fonts/minecrafter.alt-webfont.woff2') format('woff2'),
         url('../fonts/minecrafter.alt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*html { 
  background: url(../images/Minecraft_Background_Logo.png) no-repeat center center fixed; 
  background-size: cover;
  z-index: 1;
}*/

body {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-align: left;
    overflow: auto;
    position: relative;
}

/*#background-overlay .new-game-btn {
    height: 50px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    font-family: 'minecrafter_altregular';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background-color: #6b6b6b;
    color: #000000;
}*/