/*CSS for the worldmap*/

#container-world {

    width: auto;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}


#container-world .cell {

    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: blue;
    background-size: cover;
    overflow: none;
}

#container-world .row {

    margin: 0;
    padding: 0;

}
