/*CSS for the worldmap*/

#container-world {

    width: auto;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 50%;

}


#container-world .cell {

    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #9ed6ff;
    background-size: cover;
    overflow: none;
    /*cursor: pointer;*/
}

/*#container-world .row .cell:hover {
    
    border: 1px solid #FFFFFF;
}*/

#container-world .row {

    margin: 0;
    padding: 0;

}
