/*CSS for the toolbar Section*/

#container-toolbar {
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #6b6b6b;
}

#container-toolbar .tool {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 25px;
    margin-bottom: 30px;
}

/*#container-toolbar .tool:hover {
    border: 1px solid #FFFFFF;
}*/

#container-toolbar .text {
    font-family: Serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}

#container-toolbar .resource {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 25px;
    margin-bottom: 30px;
}

/*#container-toolbar .resource:hover {
    border: 1px solid #FFFFFF;
}*/
